.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .loginContainer__form {
      align-items: flex-start;

      .loginContainer__form--label {
          margin-bottom: 0.5rem;
      }

      .loginContainer__form--input {
          margin-bottom: 1rem;
      }

      .loginContainer__form--button {
          width: 100%;
      }
  }
}