.movie {
  text-align: center;
  background-color: var(--form-text);
  padding: 15px 20px;
  border-radius: 10px;
  width: 220px;

  @media screen and (max-width: 800px) {
    margin: 0 auto;
  }

  .movie__title {
    color: white;
  }

  .movie__title,
  .movie__year {
    margin: 0;
    color: black;
  }

  .movie__image {
    border-radius: 8px;
    margin-top: 16px; max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #0076d1;
    color: var(--links);
    text-shadow: none;
  }
  
  @media (prefers-color-scheme: dark) {
    a {
      color: #41adff;
      color: var(--links);
    }
  }
  
  a:hover {
    text-decoration: underline;
  }
}
