#root {
  text-align: center;
}


header {
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset {
  width: 100%;
  border: none;
}